<script>
  $(document).ready(function() {
    data        = <%= @result.html_safe %>;
    dates       = [<%# (@begin_at..Time.now).map{ |d| d.strftime('%Q')}.join(", ") %>];  //Convert Dates in Unix time
    reportTitle = "<%= j @report_title.html_safe %>";

    displayMetricReport(data, dates, "#report", 800, reportTitle);
  });
</script>

<%= render 'admin/devices/header', device: @device %>

<% breadcrumb([ {title: 'Devices', path: admin_devices_path},
                {title: @device.name.capitalize, path: admin_device_path(@device)},
                {title: @metric.code, path: metric_admin_device_path(@device, @metric.code)},
              ]) %>

<% admin_title @report_title %>

<div class="row">
    <div id="report" class="col-md-9"></div>
    <div id="reportParams" class="col-md-3">
        <%= render partial: 'form', locals: { path:       metric_admin_device_path(id: @device.key, metric: @metric.code),
                                              criterias:  [:time_frame] } %>
    </div>
</div>