<div class="table-responsive">
    <table class="table table-hover">
        <tr class="success">
            <th>Loggé le</th>
            <th>Niveau</th>
            <th>Text</th>
        </tr>
        <% @logs.each do |log| %>
            <tr>
                <td><%= l(log.logged_at, format: :default) if log.logged_at.present? %></td>
                <td><span class="label label-<%= log.level_text == 'error' ? 'danger' : log.level_text %>"><%= log.level_text.camelize if log.level_text.present? %></span></td>
                <td><%= log.body %></td>
            </tr>
        <% end %>
    </table>
</div>